name: test-application-1
on:
  push:
    branches:
      - main
    tags:
      - 'v*'

env:
  IMAGE_NAME: mozdoksity/nginx:v1
  NAMESPACE: test-application-1
jobs:
  build-and-push:
    name: Build Docker image
    runs-on: ubuntu-latest
    outputs:
      image_tag: ${{ steps.generate-tag.outputs.IMAGE_TAG }}
      is_tag_build: ${{ steps.check-tag.outputs.IS_TAG_BUILD }}
    
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Полная история для работы с тегами
      
      - name: Check if push is tag
        id: check-tag
        run: |
          if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            echo "This is a tag push"
            echo "IS_TAG_BUILD=true" >> $GITHUB_OUTPUT
          else
            echo "This is a branch push"
            echo "IS_TAG_BUILD=false" >> $GITHUB_OUTPUT
          fi
      
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.USER_DOCKER_HUB }}
          password: ${{ secrets.MY_TOKEN_DOCKER_HUB }}
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Generate image tag
        id: generate-tag
        run: |
          # Если это тег - используем имя тега (например v1.0.0)
          if [[ "${GITHUB_REF}" == refs/tags/v* ]]; then
            VERSION="${GITHUB_REF#refs/tags/}"  # Убираем refs/tags/
            echo "Using tag version: $VERSION"
          else
            # Для коммитов в ветку - используем SHA коммита
            SHORT_SHA=$(git rev-parse --short HEAD)
            DATE=$(date +'%Y%m%d')
            VERSION="${DATE}-${SHORT_SHA}"
            echo "Generated version for branch commit: $VERSION"
          fi
          
          IMAGE_TAG="${{ env.IMAGE_NAME }}-$VERSION"
          echo "IMAGE_TAG=${IMAGE_TAG}" >> $GITHUB_OUTPUT
          echo "Final image tag: $IMAGE_TAG"
      
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: ${{ steps.generate-tag.outputs.IMAGE_TAG }}
          labels: |
            version=${{ steps.generate-tag.outputs.IMAGE_TAG }}
            build.date=${{ github.event.head_commit.timestamp }}
            commit.sha=${{ github.sha }}

  deploy:
    name: Deploy to Kubernetes
    needs: build-and-push
    if: needs.build-and-push.outputs.is_tag_build == 'true'
    runs-on: ubuntu-latest
    
        steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Kubernetes
        uses: azure/setup-kubectl@v4
        with:
          version: 'v1.28.0' # Обновите версию, 1.12 очень старая

      - name: Authenticate to Kubernetes cluster
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBECONFIG }}" > ~/.kube/config
          chmod 600 ~/.kube/config

      - name: Replace image tag and Apply
        env:
          # Берем данные из предыдущего джоба и env
          IMG_TAG: ${{ needs.build-and-push.outputs.image_tag }}
          IMG_NAME: ${{ env.IMAGE_NAME }} 
          NS: ${{ env.NAMESPACE }}
        run: |
          # 1. Создаем namespace
          kubectl create namespace $NS --dry-run=client -o yaml | kubectl apply -f -
          
          # 2. Очистка (необязательно, но раз у вас была)
          kubectl get pods -n $NS --field-selector=status.phase!=Running -o name | xargs -r kubectl delete -n $NS
          
          # 3. Замена образа (используем разделитель | чтобы не экранировать слэши в названии образа)
          # Предполагаем, что в файле написано что-то вроде image: myrepo/app:latest
          sed -i "s|image: .*|image: $IMG_NAME:$IMG_TAG|g" ./deployment-svc.yaml
          
          # 4. Применение
          kubectl apply -f ./deployment-svc.yaml -n $NS

